.DataGrip2016.1/
.ICEauthority
.IntelliJIdea2016.1/
.PyCharm2016.1/
.Skype/
.TelegramDesktop/
.WebStorm2016.1/
.WebStorm2016.2/
.Yozo_Office/
.adobe/
.antigen/
.archey3.cfg
.bash_history
.bash_logout
.bash_profile
.bzr.log
.cache/
.cargo/
.config/0ad/
.config/Clementine/
.config/Electron/
.config/Empathy/
.config/Flavio Tordini/
.config/Kingsoft/
.config/Popcorn-Time/
.config/QtProject.conf
.config/QtProject/
.config/Skype-Electron/
.config/Slack/
.config/Trolltech.conf
.config/VirtualBox/
.config/alsi/
.config/anjuta/
.config/asciinema/
.config/autostart/
.config/brave/
.config/configstore/
.config/dconf/
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/elegance-colors/
.config/enchant/
.config/evolution/
.config/gconf/
.config/gedit/
.config/gnome-control-center/
.config/goa-1.0/
.config/google-chrome/
.config/gtk-3.0/bookmarks
.config/htop/
.config/kdebugrc
.config/kingsoft/
.config/kmplayerrc
.config/konsolerc
.config/menus/
.config/midori/
.config/pavucontrol.ini
.config/plank/
.config/pulse/
.config/qBittorrent/
.config/qt5ct/
.config/sakura/
.config/session/
.config/skypeforlinux/
.config/sublime-text-2/
.config/sublime-text-3/
.config/sway/
.config/teamviewer/
.config/thefuck/
.config/totem/
.config/twmn/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.crossover.conf
.cxoffice/
.dbshell
.dbus/
.docker/
.esd_auth
.fehbg
.fonts/
.gnome/
.gnupg/
.goldendict/
.gvimrc
.httpie/
.i3status.conf
.ipython/
.janus/
.java/
.kingsoft/
.lastpass/
.lesshst
.links/
.local/
.macromedia/
.mailcap
.mongorc.js
.mozilla/
.mplayer/
.mysql/
.mysql_history
.nanorc
.nixnote/
.node-gyp/
.node_repl_history
.npm/
.nv/
.nvimlog
.pki/
.psql_history
.pulse-cookie
.python_history
.pythonhist
.smartgit/
.subversion/
.themes
.vim/
.viminfo
.vimrc
.vimrc.after
.virtualenvs/
.wakatime.cfg
.wakatime.data
.wakatime.db
.wakatime.log
.wakatime/
.wget-hsts
.xinitrc
.zcompdump
.zprofile
.zsh_history
2016-07-15-151613_920x1004_scrot.png
Desktop/
Documents/
Downloads/
IdeaProjects/
Music/
Pictures/
VirtualBox VMs/
WebstormProjects/
activities_detail.html
alpine-nginx/
backout.html
bower_components/
chaos.zip
dotfiles/
env3/
gnome-terminal-colors/
gruvbox-dark.xresources
gruvbox.vim
gruvbox/
hihi.py
hyperterm/
i3log-2016-07-18-13-03-25
i3log-2016-07-18-13-11-24
iflen.xlsx
init.vim
pf.log
photo_2016-07-13_16-29-59.jpg
test.py
test.sh
tse.py
unicode-distro-logos/
